<script src="https://cdn.tailwindcss.com"></script>

<div class="h-[40%] m-5 relative overflow-hidden">
  <div class="border-2 border-black relative">
    <img
      src="https://i.ibb.co/09KpTX0/image-removebg-preview-1-1.png"
      class="flex justify-center mx-auto w-full object-cover"
      alt="T-shirt"
    />
    <!-- Red Overlay -->
    <div
      class="absolute bottom-0 w-full h-[40%] bg-red-400 z-10 rounded-t-[35px] mb-36"
    >
      <p class="text-[4rem] flex justify-center mx-auto pt-14">Viral Tshirt</p>
      <button type="submit" class="btn btn-success btn-block">Show me</button>
    </div>
    <p
      class="absolute max-w-[90%] md:max-w-[75%] font-mono font-bold text-4xl md:text-6xl -mt-[7%] text-white text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-5 md:p-10"
    >
      Mailey is the worst when it comes to dancing
    </p>
  </div>
</div>

<div>
  <img
    src="https://i.ibb.co/09KpTX0/image-removebg-preview-1-1.png"
    class="flex justify-center mx-auto w-[60%] h-[40%] object-fill"
    alt="T-shirt"
  />
</div>
